<!DOCTYPE html>
<html ng-app="hrp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pantry Manager</title>
</head>
<body>
<div ng-controller="PantryCtrl as pantry" ng-init="pantry.getItems()">

  <form ng-submit="pantry.addItem()">
    <input ng-model="pantry.newItem.eanCode" id="ean-code-field" ng-keyup="(pantry.newItem.eanCode.length == 13) && pantry.getProductData(pantry.newItem.eanCode)" id="inpt-ean-code" placeholder="Bar Code"/>
    <input ng-model="pantry.newItem.name" id="inpt-description" placeholder="Item Description"/>
    <input ng-model="pantry.newItem.quantity" id="inpt-qty" placeholder="Quantity"/>
    <select ng-model="pantry.newItem.unit" id="slct-unit">
      <option disabled value="UNKNOWN">--- Measurement Unit ---</option>
      <option value="UNIT">{{'Unit' | pluralize : pantry.newItem.quantity}}</option>
      <option value="BOTTLE">{{'Bottle' | pluralize : pantry.newItem.quantity}}</option>
      <option value="PACKAGE">{{'Package' | pluralize : pantry.newItem.quantity}}</option>
      <option value="CARTON">{{'Carton' | pluralize : pantry.newItem.quantity}}</option>
    </select>
    <input type="date" id="inpt-expiration" ng-model="pantry.newItem.expiresAt" />
    <button type="submit" id="btn-add">Add</button>
  </form>

  <div ng-repeat="item in pantry.content" id="item_{{d}}">
    <b class="item-description">{{item.name}}</b>
    <b ng-show="item.unit !== 'UNKNOWN' && item.quantity" class="item-qty"> - {{item.quantity}}</b>

    <b ng-show="item.unit !== 'UNKNOWN' && item.quantity" class="item-unit">{{item.unit | pluralize : item.quantity | titleCase}}</b>
    <b ng-show="item.expiresAt" class="item-expiration"> - {{item.expiresAt | date:'dd/MM/yyyy'}}</b>
    <button ng-click="pantry.removeItem(item)">Remove</button>
  </div>
</div>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>