<!DOCTYPE html>
<html ng-app="hrp">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
</head>
<body>
<div ng-controller="TasksCtrl as tasks" ng-init="tasks.getTasks()">
    <div class="jumbotron">
        <h1 align="center">My Task List</h1>
        <p align="center">Are you ready to organize your tasks in a simple and effective way?</p>
    </div>
    <form ng-submit="tasks.addTask(tasks.task)">
        <div class="input-group col-lg-4 col-lg-offset-4">
            <input type="text" id="task-inpt" class="form-control"
                   placeholder="Enter a task here..."
                   ng-model="tasks.task.description">
            <span class="input-group-btn">
          <button id="add-btn" class="btn btn-default" type="submit">Add Task</button>
      </span>
        </div>
    </form>
    <br/>
    <ul>
        <p ng-repeat="storedTask in tasks.tasks" class="col-lg-4 col-lg-offset-4">
            <button ng-show="storedTask.status == 1" type="button" class="btn btn-xs btn-warning"
                    aria-label="Left Align" ng-click="tasks.changeTaskStatus(storedTask, 0)">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
            <button ng-hide="storedTask.status == 1" type="button" class="btn btn-xs btn-success"
                    aria-label="Left Align" ng-click="tasks.changeTaskStatus(storedTask, 1)">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button id="task_del_row_{{storedTask.id}}" type="button" class="btn btn-xs btn-danger"
                    aria-label="Left Align" ng-click="tasks.delTask(storedTask)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <b id="task_desc_row_{{storedTask.id}}"
               ng-class="{'bg-success text-success':storedTask.status == 1}">
                {{storedTask.description}}
            </b>
            <i ng-show="storedTask.status == 1" ng-class="{'bg-success text-success':storedTask.status == 1}">
                <small>
                    {{storedTask.updatedAt  | date:'dd/mm/yyyy HH:mm:ss'}}
                </small>
            </i>
        </p>
    </ul>
</div>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>